.reserve {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .top-nav {
        display: flex;
        height: 114px;
        align-items: center;
        .nav {
            width: 340px;
            padding-left: 20px;
            .nav-btn {
                label {
                    width: 92px;
                    text-align: center;
                    background-color: rgba(0, 0, 0, .2);
                    color: #C4C4C4;
                    &.ant-radio-button-wrapper-checked {
                        background: linear-gradient(45deg, #5599FB, #5565FB);
                    }
                }
            }
            .info {
                display: flex;
                margin-top: 20px;
                p {
                    margin: 0;
                }
                .box {
                    margin-right: 20px;
                    .title {
                        color: #C4C4C4;
                        font-size: 12px;
                    }
                    .num {
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
        .create {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            .btn {
                margin: 0 20px;
                button {
                    width: 137px;
                    height: 31px;
                    background-color: rgba(248, 101, 16, .5);
                    border: 1px solid #F1630E;
                    color: #fff;
                    &:active {
                        background-color: rgba(248, 101, 16, .7);
                        border: 1px solid #F1630E;
                    }
                }
            }
            .icon {
                font-size: 70px;
                color: #6E6F70;
            }
        }
        .manage-box {
            width: 200px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;
                svg {
                    color: #fff;
                }
            }
            p {
                margin: 0;
                color: #48525E;
            }
            .ch {
                color: #fff;
                margin: 4px 0 0 0;
            }
        }
    }
    .body-main {
        flex: 1;
        background-color: rgba(37, 41, 43, .5); // position: relative;
        display: flex;
        .body-main-left {
            width: 400px;
            .card {
                user-select: none;
                width: 100%;
                height: 80px;
                background-color: rgba(32, 32, 32, 0.5);
                margin: 10px 0;
                flex-shrink: 0;
                border-radius: 4px;
                border: 1px solid #313131;
                display: flex;
                &:active {
                    border: 1px solid #00FFDC;
                    box-shadow: 0 0 4px #00FFDC;
                }
                &.active {
                    background-color: rgba(126, 126, 126, 0.1);
                    border: 1px solid #00FFDC;
                    box-shadow: 0 0 4px #00FFDC;
                }
                .img {
                    width: 78px;
                    height: 78px;
                    background: url('./../../static/init.png');
                    background-size: cover;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-left: 10px;
                    .title {
                        display: flex;
                        justify-content: space-between;
                        span:nth-of-type(1) {
                            color: #FEFFFE
                        }
                        span:nth-of-type(2) {
                            color: #19C1AA;
                            font-size: 12px;
                            margin-right: 10px;
                        }
                    }
                    .t-info {
                        margin: 2px 0;
                        display: flex;
                        align-items: center;
                        img {
                            width: 10px;
                            height: 10px;
                        }
                        span {
                            color: #797C95;
                            font-size: 12px;
                        }
                        span:nth-of-type(1) {
                            margin: 0 4px;
                        }
                        span:nth-of-type(3) {
                            flex: 1;
                            text-align: right;
                            padding-right: 2px;
                        }
                    }
                }
            }
            .loading {
                text-align: center;
                font-size: 12px;
                color: #fff; // background-color: rgba(0, 0, 0, .1);
                i {
                    margin-left: 10px;
                }
            }
        }
        .ant-spin-nested-loading {
            flex: 1;
            .ant-spin-container {
                height: 100%;
            }
        }
        .contain {
            // position: absolute;
            flex: 1;
            width: 100%;
            padding: 40px 20px 20px 40px;
            box-sizing: border-box;
            .top {
                color: #fff;
                display: flex;
                .c-left {
                    flex: 1;
                    h2 {
                        color: #fff;
                    }
                    span {
                        font-size: 12px;
                        color: #C9CFE5;
                        vertical-align: middle;
                        img {
                            width: 8px;
                            height: 12px;
                            margin-right: 4px;
                        }
                        &:nth-of-type(2) {
                            margin: 0 10px;
                        }
                    }
                }
                .c-right {
                    width: 300px;
                    user-select: none;
                    display: flex;
                    justify-content: flex-end;
                    >div {
                        padding: 10px 10px;
                        margin: 0 10px;
                        background-color: #353A3C;
                        border-radius: 4px;
                    }
                    i {
                        color: #5F626A;
                        font-size: 30px;
                        cursor: pointer;
                        &:active {
                            color: #7d8086;
                        }
                    }
                    p {
                        color: #C9CFE5;
                        margin: 5px 0 0 0;
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
            .info {
                margin-top: 20px;
                padding: 10px;
                height: 261px;
                background-color: RGBA(39, 41, 42, 1);
                display: flex;
                .info-left {
                    flex: 1;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    span {
                        color: #D3D4E2;
                        font-weight: 700;
                    }
                    span:nth-of-type(2) {
                        margin-left: 10px;
                        color: #00FFDC;
                        font-weight: 100;
                    }
                    .remark {
                        height: 70px;
                        padding: 10px 0;
                        color: #C4C4C4;
                        overflow: hidden;
                        text-indent: 2em;
                    }
                    .positon {
                        display: flex;
                        align-items: center;
                        img {
                            width: 12px;
                            height: 12px;
                        }
                        span {
                            color: #797C95;
                        }
                        span:nth-of-type(1) {
                            margin: 0 10px;
                        }
                    }
                    .start-end-card {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        background-color: rgba(32, 32, 32, 0.5);
                        width: 100%;
                        height: 89px;
                        margin-top: 10px;
                        h4 {
                            margin: 0;
                            padding: 10px 0 0 30px;
                            color: #fff;
                            font-size: 20px;
                        }
                        .start-end {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            .mid {
                                width: 206px;
                                img {
                                    font-size: 50px;
                                    height: 14px;
                                }
                                .line {
                                    border-bottom: 1px solid #19C1AA;
                                }
                            }
                            .start,
                            .end {
                                flex: 1;
                            }
                        }
                    }
                }
                .info-right {
                    width: 360px;
                    height: 240px;
                    border: 1px solid rgba(32, 32, 32, 0.5);
                    margin-left: 20px; // background: url(./../../static/logo.png);
                    background-color: rgba(32, 32, 32, 0.5);
                    background-size: 59px 71px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 59px;
                        height: 71px;
                        &.has {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.delete-model {
    .ant-modal-content {
        background: rgba(0, 0, 0, 0);
    }
    .ant-modal-body {
        background: rgba(0, 0, 0, .71);
        color: #FFFFFF;
        .body-icon {
            text-align: center;
            p {
                margin: 0;
            }
            .icon {
                font-size: 40px;
                font-weight: 700;
            }
            .word {
                margin-top: 20px;
            }
        }
        .btn {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            button {
                width: 183px;
                height: 26px;
                color: #fff;
            }
            .cancel {
                background-color: #AA4E67;
                border: 1px solid #AA4E67;
                &:active {
                    background-color: rgb(204, 135, 154);
                    border: 1px solid rgb(204, 135, 154);
                }
            }
            .sure {
                background-color: #3A86BB;
                border: 1px solid #3A86BB;
                &:active {
                    background-color: rgb(108, 163, 202);
                    border: 1px solid rgb(108, 163, 202);
                }
            }
        }
    }
}