$collapse-Width: 700px;
.all-active {
    min-height: 100vh;
    background: url('./../../static/bg3.png');
    display: flex;
    flex-direction: column;
    position: relative;
    .body {
        flex: 1;
        display: flex;
        flex-direction: column;
        .body-head {
            height: 140px;
            background-color: rgba(32, 32, 32, .5);
            display: flex;
            .left {
                margin-left: 60px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h4 {
                    font-size: 22px;
                    color: #fff;
                }
                div {
                    color: #fff;
                    .title {
                        font-size: 12px;
                        color: #797A98;
                    }
                }
            }
            .right {
                margin-right: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                user-select: none;
                i {
                    font-size: 40px;
                    cursor: pointer;
                    &:active {
                        color: rgb(204, 204, 204);
                    }
                }
                .en {
                    font-size: 12px;
                    color: #48525E;
                }
            }
        }
        .body-main {
            flex: 1;
            display: flex;
            .list {
                width: 600px;
                margin-left: 60px;
                background-color: rgba(204, 211, 219, .23);
                .card {
                    display: flex;
                    height: 100px;
                    margin: 10px;
                    border-radius: 5px;
                    background-color: rgba(32, 32, 32, .5);
                    .left {
                        height: 100px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                    .right {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .top {
                            display: flex;
                            .title {
                                color: #FEFFFE
                            }
                            .tags {
                                flex: 1;
                                text-align: right;
                                font-size: 12px;
                                >span {
                                    margin-right: 10px;
                                    color: #C9CFE5;
                                }
                                img {
                                    width: 12px;
                                    margin-right: 5px;
                                }
                            }
                        }
                        .bottom {
                            display: flex;
                            .position {
                                flex: 1;
                                color: #797C95;
                                img {
                                    width: 15px;
                                }
                                .city {
                                    margin: 0 10px;
                                }
                            }
                            .status {
                                color: #C4C4C4;
                                margin-right: 10px;
                                &.active {
                                    color: #19C1AA;
                                }
                            }
                        }
                    }
                }
                .loading {
                    text-align: center;
                    font-size: 12px;
                    color: rgba(255, 255, 255, .4);
                    i {
                        margin-left: 10px;
                    }
                }
                .empty {
                    margin-top: 20px;
                    color: #e0e0e0;
                    font-size: 12px;
                    .ant-empty-image {
                        height: 40px;
                        img {
                            filter: opacity(0.4);
                        }
                    }
                }
            }
            .logo {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 120px;
                    filter: opacity(0.5);
                }
            }
        }
    }
}

.drawer {
    // color: #fff;
    background-color: #02060C;
    position: absolute;
    width: $collapse-Width;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    .close {
        height: 50px;
        color: #fff;
        text-align: right;
        i {
            font-size: 20px;
            line-height: 50px;
            padding-right: 20px;
            cursor: pointer;
        }
    }
    .logo {
        height: 200px;
        width: $collapse-Width;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        i {
            font-size: 40px;
            cursor: pointer;
            &:active {
                color: rgb(175, 179, 184);
            }
        }
        p {
            margin: 0;
        }
        .en {
            color: #48525E;
            font-size: 12px;
        }
    }
    .picker {
        height: 270px;
        p {
            margin-left: 82px;
            color: #7E8791
        }
    }
    .ant-calendar-picker {
        visibility: hidden;
    }
    .info {
        padding: 42px 0 0 82px;
        p {
            color: #7E8791
        }
        .time-box {
            color: #CBD2DA;
            width: 210px;
            height: 30px;
            background-color: rgba(72, 72, 72, .4);
            text-align: center;
            line-height: 30px;
        }
        .word {
            color: #7E8791;
            margin: 4px 0;
        }
    }
}