.head {
    color: #fff;
    height: 29px;
    text-align: center;
    position: relative;
    line-height: 29px;
    background-color: #010B1E;
    i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    img {
        height: 16px;
    }
}